.colorpicker input {
    height: 16px
}

input.pickerfield{
    background: url("../../img/admin/select.png") repeat scroll 0 0 transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    padding:0;
    text-indent: -3000px;
    width: 30px;
}
/***css for carousel page radio buttons***/
.carousel-radio{margin:2px 5px 0 5px !important; width:auto !important;}