/* =====================================
 * @project Mizkan
 * @date 2014-10-17
 * @author Sapient Nitro
 * @licensor Mizkan
 * @Customization Styling
 =======================================
 */
/* Reset styling*/

* {
	margin: 0;
	padding: 0;
}
p {
	padding: 10px 0;
}
#body-bg-image-url, .hide-default {
	display: none;
}
.adminError {
	background-color: #ccc;
	color: #d01c16;
	font-weight: 700;
	text-align: center;
}
.adminSuccess {
	background-color: #ccc;
	font-weight: 700;
	padding: 2px;
	text-align: center;
}
iframe {
	border: medium none;
	min-height: 260px;
	width: 100%;
}

/* Theme Head */
.top {
	background: #9a9a9a;
	background: linear-gradient(to bottom, #9a9a9a 0%, #7e7e7e 100%);
	background: -moz-linear-gradient(top, #9a9a9a 0%, #7e7e7e 100%);
	background: -ms-linear-gradient(top, #9a9a9a 0%, #7e7e7e 100%);
	background: -o-linear-gradient(top, #9a9a9a 0%, #7e7e7e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9a9a9a), color-stop(100%, #7e7e7e));
	background: -webkit-linear-gradient(top, #9a9a9a 0%, #7e7e7e 100%);
	background-color: #ddd;
	border-bottom: 1px solid #626262;
	box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a9a', endColorstr='#7e7e7e', GradientType=0 );
	font-size: 20px;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
	-webkit-box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#theme-body {
	background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
	background: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -o-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ccc));
	background: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
	box-shadow: 0 0 10px #ccc;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
	margin: -1px 15px 0 5px;
	overflow: auto;
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
}

/* Left Menu */
.left-menu {
	background-color: #f1f1f1;
	background-image: url("../../../../wp-admin/images/menu-shadow.png");
	background-position: right center;
	background-repeat: repeat-y;
	float: left;
	text-align: left;
	width: 150px;
}
.left-menu ul li {
	cursor: pointer;
	margin: 0;
	padding: 0;
	position: relative;
}
.left-menu ul li:hover span.list-tile {
	background: #ddd;
}
.left-menu ul li:hover span.list-tile.active {
	background: #6d6d6d;
}
.list-tile {
	border-bottom: 1px solid #ccc;
	display: block;
}
.list-tile.active {
	background: #6d6d6d;
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 5px 10px;
	text-decoration: none;
}
.list-tile > a {
	display: block;
	font-weight: 700;
	padding: 5px 10px;
	text-decoration: none;
}
.left-menu ul li.has-children .list-tile.active ~ ul {
	display: block;
}

/* Container */
.content {
	float: left;
	width: 80%;
}
.content-inner {
	padding: 20px;
}
.content-inner h2 {
	color: #d54e21;
	font-size: 22px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.content-inner > p {
	font-weight: 700;
}
.content-inner > h3 {
	background: none repeat scroll 0 0 #4ec24e;
	color: #fff;
	padding: 10px;
}
.section-group {
	background: linear-gradient(to bottom, #f2f2f2 0%, #fff 100%);
	background: -moz-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	background: none repeat scroll 0 0 #fff;
	background: -o-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	color: white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0 );
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
.section-group h3, .preview-frame h3 {
	background: url("../../img/admin/arrow.png") no-repeat scroll right 4px transparent;
	border-bottom: 1px solid #ccc;
	color: #21759b;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 5px 10px;
	text-transform: uppercase;
}
.section-group h3.active {
	background-position: right -44px;
}
.field-sub-container {
	float: left;
	overflow: auto;
	padding: 10px;
}
.field-sub-container.multi {
	min-height: 140px;
	width: 155px;
}
.field-sub-container.multi div {
	border: 1px solid #ddd;
	overflow: auto;
	padding: 0 10px;
	margin: 5px 0 0;
}
.field-sub-container.multi div label {
	float: left;
	margin: 10px 0;
	padding: 5px 0 0;
	width: 100px;
}
.field-sub-container.multi div input {
	float: left;
	margin: 10px 0;
}
.field-container-wrapper {
	padding: 30px 10px 10px;
}
fieldset {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	margin: 0 20px 20px 30px;
}
legend {
	background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
	background: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -ms-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -o-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ccc));
	background: -webkit-linear-gradient(top, #fff 0%, #ccc 100%);
	border-radius: 0;
	box-shadow: 0 0 1px #ccc;
	color: #333;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
	font-weight: 700;
	margin: 0 0 0 -21px;
	padding: 5px 10px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-moz-box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
}
label {
	color: #464646;
	cursor: pointer;
	display: block;
	font-weight: 700;
	margin: 0 10px 0 0;
}
.section-group input, .section-group select {
	border: 1px solid #ddd;
	border-radius: 2px;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.section-group input[type=checkbox] {
	display: inline;
}
input[type=radio] {
	border: none;
}
option {
    padding: 0 5px;
}

/* Buttons */
.btn {
	margin-top: 20px;
}
.btn button, .btn input {
	background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
	background: -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	background: -o-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #e6e6e6));
	background: -webkit-linear-gradient(top, #fff 0%, #e6e6e6 100%);
	border-radius: 4px;
	color: #333333;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-right: 20px;
	padding: 2px 8px;
	width: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.btn button:hover, .btn input:hover {
	background-color: #e6e6e6;
	background-image: none;
	color: #333;
}
.btn > input {
	padding: 4px 8px;
}
.mobile-btn, .leftnav-btn, .carousel-btn, .search-btn {
	float: right;
	overflow: auto;
	width: 100px;
}
.field-sub-container > label[for*="menu"]{
	float: right;
	margin: 14px 43px 0 -90px;
}
.field-sub-container > label[for*="search-btn"] {
	float: right;
	margin: 14px 43px 0 -71px;
}
span.menu-btn-1, span.menu-btn-2, span.menu-btn-3, span.menu-btn-4 {
	background: url("../../img/admin/menu-list-icon.png") repeat scroll 0 0 transparent;
	display: block;
	height: 40px;
	text-indent: -9999px;
	width: 50px;
}
span.menu-btn-2 {
	background-position: 0 -48px;
}
span.menu-btn-3 {
	background-position: 0 -96px;
}
span.menu-btn-4 {
	background-position: 0 -142px;
}
span.left-btn-1, span.left-btn-2, span.left-btn-3, span.left-btn-4 {
	background: url("../../img/admin/nav-arrow.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 20px;
	text-indent: -9999px;
	width: 70px;
}
span.left-btn-2 {
	background-position: -97px 0;
}
span.left-btn-3 {
	background-position: -191px -2px;
}
span.left-btn-4 {
	background-color: #ccc;
	background-position: -264px -3px;
	border: 1px solid;
	padding: 0 10px;
}
span.carousel-btn-1, span.carousel-btn-2, span.carousel-btn-3, span.carousel-btn-4 {
	background: url("../../img/admin/carousel-admin.png") no-repeat scroll 0 -92px transparent;
	display: block;
	height: 27px;
	text-indent: -9999px;
	width: 140px;
}
span.carousel-btn-2 {
	background-position: 0 -62px;
}
span.carousel-btn-3 {
	background-position: 0 -33px;
}
span.carousel-btn-4 {
	background-position: 0 0;
}
span.search-btn-1, span.search-btn-2, span.search-btn-3, span.search-btn-4 {
	background: url("../../img/admin/search.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 27px;
	text-indent: -9999px;
	width: 70px;
}
span.search-btn-2 {
	background-position: 0 -38px;
}
span.search-btn-3 {
	background-position: 0 -71px;
}
span.search-btn-4 {
	background-position: 0 -104px;
}

/* Preview Section*/
.preview-frame {
	background: linear-gradient(to bottom, #f2f2f2 0%, #fff 100%);
	background: -moz-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 100%);
	border: 1px solid #ddd;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	color: #333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0 );
	margin-bottom: 30px;
	min-height: 150px;
	padding: 10px;
	-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
.preview-frame h3 {
	background: none;
	cursor: auto;
	padding-left: 0;
}
.field-sub-container input[type="text"] {
	background: url("../../img/admin/select.png") repeat scroll 0 0 transparent;
	border: none;
	cursor: pointer;
	height: 30px;
	text-indent: -3000px;
	width: 30px;
}
.arrow {
	background: #6d6d6d;
	height: 14px;
	-moz-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	-ms-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	-o-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	position: absolute;
	right: -6px;
	top: 6px;
	-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	-webkit-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
	width: 14px;
}