<div class="field-sub-container">
    <input type="radio" id="menu-btn-1-1" name="mobile-btn-hover" data-css="background-position" value="100% 0" data-default="">
    <input type="radio" id="menu-btn-2-1" name="mobile-btn-hover" data-css="background-position" value="100% -48px" data-default="">
    <input type="radio" id="menu-btn-3-1" name="mobile-btn-hover" data-css="background-position" value="100% -96px" data-default="">
    <input type="radio" id="menu-btn-4-1" name="mobile-btn-hover" data-css="background-position" value="100% -142px" data-default="">
</div>
