<!--gradient-->
<div class="field-sub-container multi">


    <label>Solid</label>

    <input type="radio" id="bg-color3" name="background3" value="bg-color" class="skip">

    <div class="hide-default" rel="solid">
        <label>Color</label>
        <input type="text"  name="color" data-css="background-color" class="colorpickerField1" value="" data-default="">
    </div>
</div>