<!--gradient-->
<div class="field-sub-container multi">

    <label>Transparent</label>
    <input type="radio"  name="background-wrapper" value="transparent" class="skip">


    <div style="display:none" class="hide-default" rel="transparent">
        <label for="leftnav-trans-color">Color</label>
        <input type="text" value="none transparent" data-css="background"  value="none transparent"/>
    </div>


</div>