<div class="field-sub-container">
    <label for="border-bottom-color">Bottom Color</label>
    <input type="text" id="border-bottom-color" name="border-bottom-color" data-css="border-bottom-color" value="" data-default=""/>
</div>