
<div class="field-sub-container">
    <label>Sapce</label>
    <select data-css="border-right" name="border-right" >
        <option value="none">None</option>
        <option value="1px solid">1px</option>
        <option value="2px solid">2px</option>
        <option value="3px solid">3px</option>
        <option value="4px solid">4px</option>
        <option value="5px solid">5px</option>
        <option value="6px solid">6px</option>
        <option value="7px solid">7px</option>
        <option value="8px solid">8px</option>
        <option value="9px solid">9px</option>
        <option value="10px solid">10px</option>
    </select>
</div>