<div class="field-sub-container">
    <input type="radio" id="menu-btn-1-3" name="mobile-btn-3" data-css="background-position" value="-60px -155px" data-default="">
    <input type="radio" id="menu-btn-2-3" name="mobile-btn-3" data-css="background-position" value="-64px -104px" data-default="">
    <input type="radio" id="menu-btn-3-3" name="mobile-btn-3" data-css="background-position" value="-62px -56px" data-default="">
    <input type="radio" id="menu-btn-4-3" name="mobile-btn-3" data-css="background-position" value="-62px -7px" data-default="">
</div>