<div class="field-sub-container">
    <input type="radio" id="menu-btn-1-1" name="mobile-btn-1" data-css="background-position" value="100% -155px" data-default="">
    <input type="radio" id="menu-btn-2-1" name="mobile-btn-1" data-css="background-position" value="100% -104px" data-default="">
    <input type="radio" id="menu-btn-3-1" name="mobile-btn-1" data-css="background-position" value="100% -56px" data-default="">
    <input type="radio" id="menu-btn-4-1" name="mobile-btn-1" data-css="background-position" value="100% -7px" data-default="">
</div>