<div class="field-sub-container">
    <input type="radio" id="menu-btn-1-2" name="mobile-btn-2" data-css="background-position" value="-120px -155px" data-default="">
    <input type="radio" id="menu-btn-2-2" name="mobile-btn-2" data-css="background-position" value="-118px -104px" data-default="">
    <input type="radio" id="menu-btn-3-2" name="mobile-btn-2" data-css="background-position" value="-117px -56px" data-default="">
    <input type="radio" id="menu-btn-4-2" name="mobile-btn-2" data-css="background-position" value="-117px -6px" data-default="">
</div>