<!--file-->
<div class="field-sub-container">
    <label for="upload_image">Upload Image </label>
    <input id="background" type="hidden" size="36" data-css="background-image" name="upload_image" value="" />
    <input id="upload_image_button" type="button" value="Upload Image" class="upload_image_button" />
    <img class="setImage" src="" height="25" width="25"/>

    <input id="upload_image_button_remove" type="button" value="Remove Image" class="remove_image_button" />
</div>
