<div class="field-sub-container">
    <label>Display</label>
    <select name="weight" data-css="font-weight">
        <option value="400">Normal</option>
        <option value="700">Bold</option>
    </select>
</div>
