<div class="field-sub-container">
    <label for="menu-btn-1"><span class="left-btn-1"> Button 1</span></label>
    <input type="radio" id="menu-btn-1" class="leftnav-btn" name="mobile-btn" data-css="background-position" value="-5px 0" data-default="">
    <label for="menu-btn-2"><span class="left-btn-2">Button 2</span></label>
    <input type="radio" id="menu-btn-2" class="leftnav-btn" name="mobile-btn" data-css="background-position" value="-99px 3px" data-default="">
    <label for="menu-btn-3"><span class="left-btn-3">Button 3</span></label>
    <input type="radio" id="menu-btn-3" class="leftnav-btn" name="mobile-btn" data-css="background-position" value="-191px 0" data-default="">
    <label for="menu-btn-4"><span class="left-btn-4">Button 4</span></label>
    <input type="radio" id="menu-btn-4" class="leftnav-btn" name="mobile-btn" data-css="background-position" value="-279px 0" data-default="">
</div>