<div class="field-sub-container">
    <input type="radio" id="menu-btn-1-1" name="mobile-btn-1" data-css="background-position" value="-58px 0" data-default="">
    <input type="radio" id="menu-btn-2-1" name="mobile-btn-1" data-css="background-position" value="-154px 0" data-default="">
    <input type="radio" id="menu-btn-3-1" name="mobile-btn-1" data-css="background-position" value="-244px 0" data-default="">
    <input type="radio" id="menu-btn-4-1" name="mobile-btn-1" data-css="background-position" value="-332px 0" data-default="">
</div>