<div class="field-sub-container">
    <label for="active-background-color" >Background Color</label>
    <input type="text" id="active-background-color" name="active-background-color" class="colorpickerfield1" data-default="" value=""  data-css="background-color">
</div>