<div class="field-sub-container">
    <input type="radio" id="search-btn-1-1" name="search-btn-hover" data-css="background-position" value="-31px 0" data-default="">
    <input type="radio" id="search-btn-2-1" name="search-btn-hover" data-css="background-position" value="-31px -37px" data-default="">
    <input type="radio" id="search-btn-3-1" name="search-btn-hover" data-css="background-position" value="-30px -70px" data-default="">
    <input type="radio" id="search-btn-4-1" name="search-btn-hover" data-css="background-position" value="-29px -104px" data-default="">
</div>