/* =====================================
 * @project Mizkan
 * @date 2013-12-19
 * @author Sapient Nitro
 * @licensor Mizkan
 * @Customization Styling
 =======================================
 */
 
/*Custom Styling Overwrite  */

/* CSS3 property  None*/
* { box-shadow: none!important; text-shadow: none !important; -webkit-box-shadow: none!important; -moz-box-shadow: none!important; }
.btn, .btn:hover, .btn:active { background-position: 0 0; transition: none; -moz-transition: none; -o-transition: none; -webkit-transition: none; text-decoration: none; }
.nutrition.btn-link { padding: 0 20px 0 0; }
.videoAppend { width: 100%; clear:right; padding-top: 20px; }
.single-product-detail .video-wrapper { margin:20px 30px 0 30px; display:inline-block;}
.videoAppend .video-wrapper{display:block;text-align:center;}
.search-list a.pull-right { margin-right: 10px; }
.popover { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; max-width: none; width: 270px; }
.popover .close-btn { background-image: url('../../img/ico/close-btn.png'); cursor: pointer; height: 20px; top: -9px; width: 20px; position: absolute; right: -8px; }
h1, h2, h3 { margin: 0; }
a.logo { padding-bottom: 10px; }

/*h1 { 
text-indent: -2000px; line-height: 1px !important; 
}*/
figure, figcaption { margin: 0; }
.clearleft { clear: left; }
.btn-link, .thumbnail { padding: 0; }
ul.thumbnails { margin-bottom: 0px; }
.min-height { min-height: 390px; }
/*============================================*/

/* Face Book Teaser */
#fb-root { display: none; }
/* To fill the container and nothing else */
/*.span4 .fb_iframe_widget, .span4 .fb_iframe_widget span, .span4 .fb_iframe_widget span iframe[style] { width: 300px !important; }*/
/*.span3 .fb_iframe_widget, .span3 .fb_iframe_widget span, .span3 .fb_iframe_widget span iframe[style] { width: 220px !important; }*/
.row-fluid .span4 .fb_iframe_widget, .row-fluid .span4 .fb_iframe_widget span, .row-fluid .span4 .fb_iframe_widget span iframe[style] { width: 31.914893617021278% !important; }
.row-fluid .span3 .fb_iframe_widget, .row-fluid .span3 .fb_iframe_widget span, .row-fluid .span3 .fb_iframe_widget span iframe[style] { width: 23.404255319148934% !important; }
/*============================================*/
.main-wrapper { background: #fff; margin: 0 auto; padding: 0 5px; width: 940px; }
/* Header  */
.modern-header {border-bottom: 1px solid #ccc; padding: 9px 15px; }
.navbar-inner, .modern-header { padding: 0; }
/* Top Navigation */
.navbar .btn-navbar { background: url("../../img/ico/menu-list-icon.png") no-repeat scroll 0 0 transparent; border: none; border-radius: 0; height: 40px; margin-top: 5px; -moz-border-radius: 0; -moz-transition: none; -o-transition: none; transition: none; -webkit-border-radius: 0; -webkit-transition: none; width: 44px; }
.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] { background-color: transparent; color: #ffffff; }
.navbar-static-top { margin: 0; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { border-width: 0; }
.nav-collapse .navbar-form, .nav-collapse .navbar-search { border: 0 }
/*Social Icons */
.modern-header .social-icons { margin: 10px 0 10px; }
.follow-icon a { display: inline-block; width: 20px; }
.social-button a, .social-button .social-twitter, .social-button .social-facebook .fb_iframe_widget { float: left; height: 30px !important; margin: 0 2px !important; }
.share a[data-pin-log] { margin-right: 3px !important; }
.single-article-detail .social-button.pull-right a img, .single-product-detail .social-button.pull-right a img { margin: 0; }
.share a, .share .social-twitter { float: left; }
.social-button .social-sina-weibo, .social-button .social-tencent-weibo, .social-button a.social-renren, .social-button .jiathis_style, .social-button .jiathis_style_24x24, .social-button .jiathis_style_32x32, .social-button .social-renren { display: inline-block; margin: 0px 5px; padding: 2px 0; float: left; height: auto !important; }
.social-button div.jiathis_style, .social-button a.jiathis { margin-right: 0; }

.social-button .social-tencent-weibo div a { float: none; }
.single-article-detail .social-tencent-weibo img { margin: 0; }
.social-sina-weibo { float: left; }
a.social-renren{line-height:12px;}
.social-button .pinit-icon a { margin-right: 4px !important;}
.social-googleplus{width:65px;}
/* Search buttons */
.form-search .btn-search { background: url("../../img/ico/search.png") no-repeat scroll 0 0 transparent; border: none; height: 25px; text-indent: -4000px; width: 25px; }
.form-search .btn-search:hover, .form-search .btn-search:focus { background-position: -31px 0; }
.nav-collapse.collapse { overflow: auto; }
.pagination .current { background: #f5f5f5; }
.pagination { padding: 0 10px; }
#left-nav-btn { float: left; }

/*============================================*/

/* Bread Crumb */
#breadcrumb { margin: 0 0 20px; }
#breadcrumb .breadcrumb { background: none transparent; margin: 0; padding: 8px 15px; }
.breadcrumb > li a, .breadcrumb > li > .divider { text-decoration: none; }
/*============================================*/

/* Carousel */

.carousel-inner { margin: 0 0 20px; }
.carousel-indicators { cursor: pointer;}
.carousel .carousel-caption .btn { margin-top: 10px; }
.carousel-caption { padding: 15px 25px; text-align:left;}
.carousel-control { background: url("../../img/ico/carousel.png") no-repeat scroll 0 -155px transparent; border: none; border-radius: 0; color: #fff; filter: alpha(opacity=100); left: 0; margin-top: 0; -moz-border-radius: 0; opacity: 1; -webkit-border-radius: 0; text-indent: -9000px; }
.carousel-control.right { right: 0; }
#teser_carousel .carousel-inner .item .list { text-align: center; }
.play{ background: url("../../img/ico/play-and-pause.png") no-repeat scroll 100%  transparent; background-position: center -60px; width: 30px; height: 40px; position: absolute; right: 0px; top: 5px; text-indent: -9999px; }
/*============================================*/

/* Left Navigation */
.left-nav .nav { margin: 0; margin-bottom: 20px; padding: 5px; }
.left-nav ul.nav ul.nav { border: none; border-radius: 0; margin-bottom: 0; -moz-border-radius: 0; padding: 0; -webkit-border-radius: 0; }
.left-nav ul.nav li { width: 100%; }
.left-nav .nav > li > a { padding: 3px 15px 3px 5px; position: relative; word-wrap: break-word; text-decoration: none; }
.left-nav ul.nav ul li a { padding-left: 15px; }
.left-nav ul.nav ul li ul li a { padding-left: 25px; }
.left-nav ul.nav ul li ul li ul li a { padding-left: 35px; }
/*.left-nav .nav { border: 1px solid #ccc; }*/
/*.left-nav ul.nav li, .left-nav ul.nav ul.nav { border-top: 1px solid #ccc; }*/
.left-nav ul.nav li.first { border-top: none; }
.left-nav ul.nav li, .left-nav .nav, .left-nav ul.nav ul.nav { background-color : transparent; background-image : none; }
.tree-toggler, .tree-toggler .expand { background: url("../../img/ico/nav-arrow.png") no-repeat scroll 100% 6px transparent; height: 100%; overflow: hidden; position: absolute; right: 2px; text-indent: -400px; top: 0; width: 12px; }
/*============================================*/

/* Promo  And Teaser */
.teaser3, .teaser4, .promo2, .promo3 { border: 1px solid #ddd; border-radius: 4px; display: block; line-height: 20px; margin: 0 0 20px; overflow: auto; -webkit-border-radius: 0; -moz-border-radius: 0; }
.tweeter, .facebook { border: 0 none !important; border-radius: 0 !important; background-color: transparent !important; background-image: none !important; }
.facebook .fb-scheme-light { background-color: #fff; }
.facebook .fb-scheme-dark { background-color: #333; }
.dark-background { background: #333; float: left; margin-bottom: 20px }
.light-background { background: #fff; float: left; margin-bottom: 20px }
.teaser5 { overflow: auto; }
.teaser5 .media-body { padding: 0 0 10px 10px; }
.teaser5 .media-body h3, .teaser5 .media-body p { padding-right: 5px; }
.teaser7 { border: 1px solid #DDDDDD; border-radius: 5px; margin: 0 0 20px; padding: 25px 3px 3px; text-align: center; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.teaser7 h4 { text-align: left; margin-left: 28px; margin-top: 0; }
.teaser7 .thumbnail { border: none; padding: 0; }
.teaser7 li.span2 a { display: inline-block; }
.teaser7 li.span2 { width: 161px; display: inline-block; float: none; vertical-align: top; }
.teaser7 li.span2 figure { margin: 0 0 10px 0; }
.teaser7 li.span2 figure img { max-width: 140px; }
.product10 { margin: 0 0 20px; overflow: auto; }
.caption { padding: 5px; }
/*============================================*/

/* Product Detail Page */
.single-product-detail, .single-article-detail { width: 100%; }
.single-product-detail .pull-left img, .single-article-detail .pull-right img { margin: 0 20px 0 0; max-width: 480px; }
.single-product-detail .product-description ol, .single-product-detail .product-description ul { list-style-position: inside; }
.single-product-detail-inner, .single-article-detail-inner { padding: 1%; width:98%; border: 1px solid #DDDDDD; border-radius: 5px; float:left; margin: 0 0 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.single-product-detail-inner .social-icons, .single-article-detail-inner .social-icons{margin: 5px 0;}
/*popover for jfm*/
/*single product detail*/
.single-product-detail .storeLocatorform{left: 0px;top: 32px;width: auto;display:none;z-index: 99999;position: absolute;opacity: 1;background-color:white; border:1px solid #989898 ; padding:0 10px 5px 10px;border-radius:3px;}
.storeLocatorform .close-store-form {margin-top: -3px;margin-right: -7px;}
.single-product-detail .buy-in-store{display:inline-block;position:relative;vertical-align: top;}
.single-product-detail .i-wrapper{display:inline; margin-bottom:10px;}
.single-product-detail .buy-wrapper{display:inline-block;margin-bottom:10px;}
.single-product-detail .buy-wrapper .buy-in-store{margin-right:20px;}
/*** changes for video-overlay***/
.ybutton {position: absolute;display: block;background: url("../../img/ico/btn14.png") no-repeat scroll 0 0 transparent;height: 64px;width: 64px;top: 20px;left: 20px;}
.video-overlay{width:670px;height:350px;background-color:transparent;}
.video-overlay .modal-body{padding:0; overflow:hidden;}
.all-video-wrapper{text-align:center;clear:both;}
/* for ie8*/
.frame-wrapper img{ max-width:none;}
/*============================================*/

/* Article Detail Page */
.single-article-detail { }
.single-article-detail .pull-right img { margin: 0 0 0 20px; }
.article-detail .teaser7 { text-align:left; }
.single-article-detail .i-wrapper { margin: 10px 0 10px 0px; }
/*============================================*/

/* Site Map */
.site-map #main .container { margin-bottom: 10px; }
.site-map .site-content { border: 1px solid #ccc; }
.site-map h3 a { font-size: inherit; }
.site-map ul.unstyled ul { list-style: none outside none; }
.site-map ul ul { margin-left: 15px; }
.menu-header-navigation-container .unstyled{margin-bottom:0;}
/*============================================*/

/*Footer */
.modern-footer { padding: 14px 15px 15px; margin-bottom: 0; text-align: right; background-color: #f5f5f5; border-top: 1px solid #ddd; -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff; box-shadow: inset 0 1px 0 #ffffff; }
.modern-footer:before, .modern-footer:after { display: table; line-height: 0; content: ""; }
.modern-footer:after { clear: both; }
.modern-footer, .modern-footer figure { margin: 0; text-align: center; }
.modern-footer .footer-banner figcaption { padding-top: 10px; }
/*============================================*/

/*Search Results */
.search-results .thumbnails { margin:30px 0 0; }
.search-list { margin: 20px 0 30px; }
.search-list:last-child { margin-bottom: 60px; }
.search-list .thumbnail { border: none; text-align: center; }
article.search-results { background: #fff; border: 1px solid #DDDDDD; padding:15px; }
article.search-results h2, article.search-results p, article.search-results h3, article.search-results span { padding: 0 5px; }
article.search-results span.btn-link { display: block; }
article.search-results .thumbnails > li.span3 {  width: 33.3%; margin-left:0;}
#main .container article.search-results  { margin-bottom:15px; }
/*============================================*/
/* Iframe Window Model */
.my-modal-backdrop { background-color: #000; opacity: 0.8; filter: alpha(opacity=80); bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 2040; height: auto; }
.my-modal { background-color: #ffffff; border: 1px solid #999; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; left: 50%; margin-left: -280px; outline: 0 none; position: fixed; top: 10%; width: 560px; z-index: 2050; }
.my-modal .close { z-index: 2060; padding: 10px; }
.my-modal-body, .my-modal-header { max-height: 400px; padding: 15px; position: relative; }
/* Buy It now Normal*/
.buy-it-now { background-color: transparent; border: 0 none; left: 0; right: 0; margin: 0 auto;overflow:hidden;background-color:#fff;}
.buy-it-now .modal-body { padding: 0;overflow:hidden;}
.buy-it-now .close { position: absolute; float: none; top: 1px; right: 10px; }

/* Responsive data for buy-it-now-data */
/*
.buy-it-now-data ul { list-style:none; margin:0; padding:0}
.buy-it-now-data ul li { width:48%; float:left; margin-bottom:20px}
.buy-it-now-data ul li img {margin:0}
*/

/*============================================*/
/* selectivizr */
.homepage .teasers .span4:nth-child(3n+4), .article-landing .teasers article:nth-child(3n+4), .article-category .teasers li:nth-child(2n+3) { clear: left }
/*============================================*/

/*Form Elements */
.form-horizontal .control-label { font-weight: 700; }
label.extension { display: inline-block;   font-weight: 700; margin-left: 10px;}
.extensionInp input{ width:50px;}
form .error, form .success { margin-left: 10px; }
form .form-asterik { color: #B94A48; }
form .errorInput, .form-search input[type="text"].errorInput { border: 1px solid #B94A48; }
form .successInput { border: 1px solid #468847; }
form .multi-field label { display: inline-block; }
.form-horizontal .help-block { margin: 10px 0; }
form .help-icon { background: url("../../img/ico/help-icon.png") no-repeat scroll 0 3px transparent; cursor: pointer; display: inline-block; text-indent: -99999px; width: 16px; }
#recaptcha_div, #recaptcha_div a { line-height: 6px !important; }
.typekit-badge { display: none !important; }
/* Empty elements to remove WP errors */
.sticky, .gallery-caption, .bypostauthor { }
#_bapw-notice img { width: 19px; max-width: none; }
#cqcqButton + img { height: inherit; max-width: none; vertical-align: inherit; }
.ie8 #_bapw-icon { max-width: none; }
#cookieDiv { position: absolute; bottom: 0; }
input[type="hidden"] + .control-group {margin-top: 20px;-webkit-margin-top-collapse: separate;}

/* Chrome iframe issue fix */
iframe[src="about:blank"] { display: none; }

/***************Nav Bar***********************/
.nav .arrow { display: none; }
.arrow-desktop { display: block; background: url('../../img/ico/flyout-right.png') no-repeat; height:9px; width: 9px; float: right; text-indent: -99999px;position:absolute; top:40%; right:7px; }
.top-desktop { background: url('../../img/ico/flyout-down.png') no-repeat 2px 7px; width: 12px; text-indent: -99999px; display: inline-block; }
.navbar .nav-collapse > div > ul.nav{z-index: 9;}
.navbar .nav-collapse ul.nav ul { margin: 0; padding: 0; list-style: none; display: none; background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%); background: #F2F2F2; position: absolute; left: auto; width: 200px; border-right: 1px solid #ccc; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;}
.navbar .nav-collapse ul.nav ul li { border-bottom: 1px solid #ccc }
.navbar .nav-collapse ul.nav ul li a{position:relative; word-wrap:break-word;}
.navbar .nav-collapse ul.nav ul li:last-child {border-bottom: medium none;}
.navbar .nav-collapse ul.nav ul ul { left: 200px; margin-top: -41px; }
.navbar ul.nav ul.nav > li { float: none; }
.dark-background { background: #333; float: left; }
.navbar .nav > li ul.nav li { border-right: none; }
.navbar .nav > li ul.nav li { border-left: none; }
.form-horizontal .controls.img-tooltip{float:left;margin:0 10px 0 20px;}

/*where to buy */
.left-zero{	margin-left:0;}
.store-locator-main ,.where_to_buy_main{margin-bottom:10px; margin-top:10px;}
.where_to_buy  .choose-category ,.store-locator .search-details,.where_to_buy  .choose-product ,.where_to_buy .zip-code{border: 1px solid #E8E8E8; border-radius:5px;}
.where_to_buy .with_img_li {width: 29%;margin-left: 2%;}
.where_to_buy h4 ,.store-locator h2{padding-bottom:10px;padding-left:10px;}
.where_to_buy  ul {list-style:none outside none;}
.where_to_buy  .with_img li{display:inline-block;float:none;}
.where_to_buy  .with_img li a{display:block;}
.where_to_buy  .with_img li span{display:block; text-align:center;}
.where_to_buy .where_to_buy_main .span4 h4{ border-bottom: 1px solid #E8E8E8;}
.where_to_buy  .choose-product ,.where_to_buy .zip-code{margin-left:10px;}
.where_to_buy  .choose-product  ul  li{margin:10px 0 0 10px;}
.where_to_buy  .choose-product input[type="checkbox"]{padding:0;width: 13px;float: left;}
.where_to_buy  .choose-product ul{margin-left:10px;}
.where_to_buy  .choose-product ul.left-zero{margin-bottom: 30px; float:left; width:90%}
.where_to_buy .where_to_buy_zipcode{width:120px;}
.where_to_buy  .zip-code .first-span{float:left;padding-top:10px;margin-left:10px;overflow: hidden;width: 45%;}
.store-locator .zip-code .first-span{border-right:1px solid #E8E8E8;padding-top:10px;float: none;display: inline-block;vertical-align: middle;margin-left:10px;}
.where_to_buy  .zip-code   h4,.store-locator .zip-code h4{margin-bottom:0;}
.zip-code .zipcode-input, .zip-code .miles{width:80%;}
.where_to_buy .zip-code .last-span { display: block;width: 50%;float:left;margin-left:0;}
.where_to_buy .zip-code .or-seperator{width: 10px;display: block;float: left;position: relative;margin: 0 0 0 10px;font-weight:bolder;}
.where_to_buy .zip-code .or-seperator .line{height: 252px;width: 1px;background: #000;display: block;}
.store-locator .zip-code .last-span{float: none;display: inline-block;text-align:center;margin-left:0;}
.or-seperator .text{top: 90px;background-color: white;position:absolute;right: 2px}
.where_to_buy .zip-code .buy-online{margin-top: 86px;margin-left: 15px;text-align: center;}
.where_to_buy  .choose-product ,.where_to_buy  .choose-category {min-height:400px;}
.where_to_buy .zip-code{min-height:200px;}
.where_to_buy  .mb-select{display:none;}
.where_to_buy  .zip-code .full-width,.store-locator .zip-code .full-width{border:none;width:100%;}
.where_to_buy  .zip-container{position:relative;}
.where_to_buy .choose-product  ul  li label{display: inline-block;
margin-left: 8px;
float: left;
width: 90%}
.where_to_buy ul.inner-ul {
float: left;
width: 100%;
}


.where_to_buy_main .store-locator-heading {margin-bottom: 10px;}
.store-locator input[type="hidden"] + .control-group,.where_to_buy  input[type="hidden"] + .control-group{margin-top:10px;}
/*store locator*/
.store-locator p{margin-top:5px;}
.store-locator .zip-code, .store-locator .zip-code h2,.store-locator .search-summary-wrapper{border-bottom: 1px solid #E8E8E8;}
.store-locator .search-summary-wrapper{padding-left:10px;padding-bottom:10px;}
.store-locator .search-summary-wrapper{margin-bottom:0;}
.store-locator .zip-code h5{padding-bottom:10px;}
.store-locator .another-product{margin-bottom:10px;}
.store-locator .product{text-align:center;}
.store-locator .selected-product h5{margin-left:10px;}
.store-locator .google-maps {margin: 0 0 10px 5px;min-height:400px;}
.results-table thead{background-color:#9C9C9C;}
.results-table tr{display:table-row;}
.store-locator  .pagination{text-align:center;}
.store-locator .function-wrapper{float:right;}
.store-locator .function-wrapper span{cursor: pointer;display: inline-block;margin: 0 0 0 10px;}

/* alignment of error in stor locator */
.store-locator .error , .where_to_buy form .error {margin-left: 0px; margin-right: 2px;}
.store-locator .label , .where_to_buy form .label {white-space: normal;display:inline-block;}
.store-locator .zip-code .full-width {border-right: none;width:360px}

/*faq*/
.qa-list .q-icon,.qa-list .q-icon-expand{background: url("../../img/ico/left-navigation.png") no-repeat scroll 100%  transparent;height: 18px;overflow: hidden;position:absolute;text-indent: -400px;width: 22px;background-position: -20px 4px;right:0;top:0;}
.qa-list  dt{padding-right:20px;position:relative;}
.qa-list dd{margin-left:18px;display:none;}
.active-qa .q-icon{background-position:0px 4px;}
.faq-main .span10{margin:0; padding:10px;}

/* contact us */
.widget-contact-info{ display: none; }
.contact-form .contact-description{padding-left:10px;padding-right:10px;}
.contact-form h2{padding-left:10px;padding-top:10px;}
.contact-us-form .contact-form #fw-root{ padding-bottom: 0;margin-bottom:20px;}
.contact-form .widget-contact-info { padding: 10px; margin-bottom: 20px;}
.where_to_buy .choose-product ul.inner-ul li{margin-top:6px}

/*Media Query */
/* Large desktop */
@media (min-width: 1200px) {
/*********************Global CSS changes************************/
.main-wrapper { width: 1170px; }
.teaser7 .thumbnail { background: transparent !important; }
.teaser7 li.span2 { width: 197px; display: inline-block; float: none; }
/* To fill the container and nothing else */
/*.span4 .fb_iframe_widget, .span4 .fb_iframe_widget span, .span4 .fb_iframe_widget span iframe[style] { width: 370px !important; }*/
.span3 .fb_iframe_widget, .span3 .fb_iframe_widget span, .span3 .fb_iframe_widget span iframe[style] { width: 270px !important; }
.row-fluid .span4 .fb_iframe_widget, .row-fluid .span4 .fb_iframe_widget span, .row-fluid .span4 .fb_iframe_widget span iframe[style] { width: 31.623931623931625% !important; }
.row-fluid .span3 .fb_iframe_widget, .row-fluid .span3 .fb_iframe_widget span, .row-fluid .span3 .fb_iframe_widget span iframe[style] { width: 23.404255319148934% !important; }
/*store locator and where to buy*/
.where_to_buy  .choose-product ,.where_to_buy .zip-code{margin-left:20px;}
.store-locator .google-maps{margin-left:15px;min-height:400px}
.col-bg{  -webkit-transform: translateZ(0)!important;}
.body-faq .title_social_container h1{margin-top: 60px;}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
/*But It now  and  youTube Model
	html { -webkit-transform: translate3d(0, 0, 0);}*/
.main-wrapper { width: 724px; }
.teaser7 h4 { margin-left: 0; }
.teaser7 .thumbnail { background: transparent !important; }
.teaser7 li.span2 { width: 119px; }
.teaser7 li.span2 a { display: block; }
.nav-collapse .nav, .nav-collapse .navbar-form, .nav-collapse .navbar-search { margin: 0; }
.left-nav.nav-collapse .nav { margin: 0 0 20px; }
/* To fill the container and nothing else */
/*.span4 .fb_iframe_widget, .span4 .fb_iframe_widget span, .span4 .fb_iframe_widget span iframe[style] { width: 228px !important; }*/
.span3 .fb_iframe_widget, .span3 .fb_iframe_widget span, .span3 .twitter-timeline, .span3 .fb_iframe_widget span iframe[style] { width: 166px !important; }
.row-fluid .span4 .fb_iframe_widget, .row-fluid .span4 .fb_iframe_widget span, .row-fluid .span4 .fb_iframe_widget span iframe[style] { width: 31.491712707182323% !important; }
.row-fluid .span3 .fb_iframe_widget, .row-fluid .span3 .fb_iframe_widget span, .row-fluid .span3 .fb_iframe_widget span iframe[style] { width: 22.92817679558011% !important; }
.tweeter #twitter-widget-0 { min-width: 166px !important; }
.single-article-detail figure, .single-product-detail figure { float: none; text-align: center; }
#left-nav-btn { display: none; }
.left-nav-container #second.nav-collapse, #second.nav-collapse.collapse { overflow: visible; height: auto; }
#second.nav-collapse, #second.nav-collapse.collapse { height: auto; }
.nav .arrow { float: right; display: block; background: url('../../img/ico/flyout-down.png') 0 10px no-repeat; text-indent: -99999px; width: 17px; height:30px;}
.nav .arrow.active { background-position: 0 -15px; }
.teaser7 li.span2 figure img { max-width: 100%; }
.form-horizontal .span1 {width: 104px;}

/* Setting for mobile menu for tablet */
.navbar .btn-navbar, .nav .arrow { display: none}
.navbar-static-top .nav-collapse { height: auto;}
.navbar-static-top .nav > li { float: left; }
.navbar-static-top .nav > li > a { padding: 10px 6px; margin:0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
.top-desktop, .arrow-desktop{ display: inline-block;}
#first form{ padding: 0; float: right; }
#first form .input-medium{ width: 100px; }
.navbar .container{ width:724px; margin: 0 auto;}
.navbar .nav-collapse ul.nav ul { width: 120px; }
.navbar .nav-collapse ul.nav ul ul { left: 120px;}
.nav-collapse, .nav-collapse.collapse { overflow: visible; }
.nav-collapse.collapse{ height: auto !important; }

/*where_to_buy and store-locator*/
.where_to_buy  .mb-fnt, .store-locator  .mb-fnt{font-size:13px;}
.store-locator .function-wrapper{display:none;}
#map_canvas{display:none;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.body-faq .title_social_container h1{margin-top: 20px;}
/*But It now  and  youTube Model
	html { -webkit-transform: translate3d(0, 0, 0);}*/
	#where_to_buy_zipcode{width:127px}
.where_to_buy .choose-product  ul  li label{width:92%}
.main-wrapper { width: auto; }
a.logo.pull-left { float: none; }
.nutrition.btn-link { margin: 0; display: block; text-align: center; }
.teaser7 { background: transparent !important; }
.teaser4 figure, .teaser3 figure, .promo3 figure, .promo2 figure, .product10 .span4 figure { text-align: center; }
.teaser7 { border: none; padding: 0; background: transparent !important; }
.teaser7 h4 { margin-left: 10px; }
.teaser7 li.span2, .search-list .thumbnails .span3 { float: left; width: 50%; display: block; }
.article-category .thumbnails > li { display: block; float: left; margin: 0 2% 20px; width: 46%; }
.teaser7 li.span2 .thumbnail { border: 1px solid #ddd; margin: 0 10px; overflow: auto; padding: 5px; }
.teaser7 li.span2 a { display: block; }
.teaser7 li.span2 figure { float: left; margin: 0 10px 0 0; }
.teaser7 li.span2 a { height: 140px; text-align: left; vertical-align: middle; }
.teaser7 li.span2 span.btn-link { display: table-cell; height: 140px; vertical-align: middle; }
.carousel-caption { position: static; }
.single-article-detail .pull-right img { float: none; margin: 0; }
.nav-collapse .nav, .nav-collapse .navbar-form, .nav-collapse .navbar-search { margin: 0; }
.single-article-detail .pull-right img, .single-product-detail .pull-right img { max-width: 100%; margin: 0; }
.single-article-detail figure, .single-product-detail figure { float: none; text-align: center; }
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input { width: 220px; }

/* My Model Window */
.my-modal { position: fixed; top: 20px; right: 20px; left: 20px; width: auto; margin: 0; }
.my-modal-body { overflow: scroll; -webkit-overflow-scrolling: touch; }
.nav .arrow { float: right; display: block; background: url('../../img/ico/flyout-down.png') no-repeat 0 10px; text-indent: -99999px; width: 25px; height:30px; right: 0; top: 15%; position: absolute;}
.nav .arrow.active { background-position: 0 -15px; }
.navbar .nav-collapse ul.nav ul { padding: 0; position: relative; left: 0; width: auto; border: none; }
.navbar .nav-collapse ul.nav ul li { border: none; }
.navbar .nav-collapse ul.nav ul li a { padding: 9px 15px 9px 30px; }
.navbar .nav-collapse ul.nav ul ul li a { padding: 9px 15px 9px 45px; }
.navbar .nav-collapse ul.nav ul ul { left: auto; top: auto; margin-top: 0; }
.arrow-desktop, .top-desktop { display: none; }
.navbar .nav > li > a { border-right: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; position: relative; }
.navbar .nav > li { border: none !important; }

/* space from carousel */
.homepage .carousel, #main .span10, .contact-us-form .span9, .about-us .single-article-detail, .site-map .inner-container  { margin-top: 20px; }
#main .span10 .span10 { margin-top:0;}
.tree-toggler, .tree-toggler .expand{ right: 0;  padding-left: 8px; top: 15%; width: 20px; }
.nav .arrow{ padding: 0 8px; background-position: 16px 10px;}
#left-nav-btn{ display: none; }
/* mobile header */
.navbar .btn-navbar { float: left;}
.mobile-header .navbar-inner form { margin-top: 2px; }
.mobile-header  #second { height: auto; }
.mobile-header #left_nav .nav > li > a { position:relative}
/*store-locator and jfm*/
.where_to_buy  .choose-product ,.where_to_buy .zip-code{display:none;margin-left:0;min-height:0;margin-top:10px;}
.where_to_buy  .choose-category{min-height:0;margin-top:10px;}
#map_canvas{display:none;}
.store-locator .zip-code .last-span{text-align:initial;margin:0 0 10px 10px;}
.where_to_buy .zip-code .last-span {width:100%; margin:0 0 10px 10px;}
.where_to_buy .zip-code .first-span{width:100%;}
.where_to_buy  .zip-code .or-seperator{display:none;}
.where_to_buy .zip-code .buy-online{margin-top: 0px;margin-left: 0px;text-align: initial;}
.store-locator .function-wrapper{display:none;}
.store-locator .google-maps{margin-top:5px;}
/* contact us widget */
.contact-form  .contact-description{ display: none; }
.contact-form  #fw-root{ display: none; }
.widget-contact-info{ display: block; }
}
 
@media print{
.store-locator .search-details{display:none;}
.store-locator #storesTable .pagination{display:none;}
.store-locator .social-icons{display:none;}
.store-locator .right-menu{display:none;}
.store-locator .navbar{display:none;}
.store-locator .breadcrumb{display:block;}
a[href]:after {content: none !important;}
.store-locator #map_canvas{display:none}
} 
/* Landscape phones and down */
@media (max-width: 480px) {
a.logo.pull-left { float: none; }
.teaser7 { border: none; padding: 0; }
.teaser7 h4 { margin-left: 0; }
.teaser7 li.span2, .search-list .thumbnails .span3 { float: none; width: auto; display: block; }
.teaser7 li.span2 .thumbnail, .search-list .thumbnails .span3 .thumbnail { border: 1px solid #ddd; margin: 0; overflow: auto; padding: 5px; }
.search-list .thumbnails .span3 a ,.search-results .search-list span.btn-link { display: table-cell; height: 140px; text-align: left; vertical-align: middle; } /*For search result page alignment of text issue*/
.search-list .thumbnails .span3 a { display: block; } /*For search result page alignment of text issue*/
.teaser7 li.span2 figure, .search-list .thumbnails .span3 figure { float: left; margin: 0 10px 0 0; }
.teaser5 figure { text-align: center; }
.single-product-detail figure { margin: 0; text-align: center; }
.nav-collapse .nav, .nav-collapse .navbar-form, .nav-collapse .navbar-search { margin: 0; }
.single-article-detail .pull-right img, .single-product-detail .pull-left img { max-width: 100%; margin: 0; }
.article-category .thumbnails > li { width: 100%; margin: 0 0 20px; }
.article-category .thumbnails > li,  .media .teaser5 .pull-left, .media .teaser5 .pull-right { float: left; }
select[class*="span"], textarea[class*="span"], .uneditable-input { width: 220px; }
article.search-results .thumbnails > li.span3 {  width: 100%; }
/* My Model Window */
.my-modal { top: 10px; right: 10px; left: 10px; }
.social-icons.share { margin-top: 15px; }
#search_result .thumbnails { margin-top: 50px; }
.teaser7 li.span2 figure, .search-list .thumbnails .span3 figure { display: table-cell; }
.btn-link { display: table-cell; }
label.extension { margin-left: 0}
.form-horizontal .controls.img-tooltip{margin:0 10px 0 0;}
.social-button a, .social-button .social-twitter, .social-button .social-facebook .fb_iframe_widget { height: 20px !important;margin-bottom:10px !important; }/*==Modified for R2==*/
.share a[data-pin-log] { margin-bottom:10px !important; }/*==Modified for R2==*/
/*.table thead{display:none;}*/
/*.store-locator .mb{width:100%;}
.store-locator .mb-store{width:60%;}*/
/*.mb-distance{width:25%;}*/
/*.table td{display:inline-block;border:none; word-wrap: break-word;}*/
/*.table tr{border-top:1px solid #DDD;}*/
.pagination a{ font-size:11px;}
/*.pagination  .prev ,.pagination .next{display:none;}*/
.qa-list .que{display:inline;}
}
.server-error p {color:#FF0000;}
.server-success {border: 1px solid #ccc;padding: 5px; background: none #8AFF80; margin:10px 0 30px;}
/************************Register Forms CSS 3-1-2014 **********************************************/
.separator-small {background-color: #333;color: #000;display: block;font-weight: 700;line-height: 2px;margin: 30px auto;width: 100%;text-align: center;}
.separator-small span {background-color: #fff;padding: 10px;}
.control-group input[type=checkbox]{margin-top:0;}
.separator {border-bottom: 1px solid #333;display: block;margin: 20px 0;}

/*************************Top Right Navigation***************************************************/
.right-menu{float: right; margin: 10px 0 10px;}
.right-menu ul{list-style:none; margin-left:0; float: right; margin-bottom: 0;}
.right-menu ul > li {float: left;}
.right-menu ul > li a, .right-menu > li span{border-right: 1px solid; line-height: 12px;padding:0 10px;  margin-top: 5px;}
.right-menu ul li:last-child a{border:none;}
.display-none, .ajax-loader {display:none;}
.social-icons .twitter-follow-button{float:left;}


