@page {
    size: 330mm 427mm;
 margin: 14mm;
 margin-left: 10mm;
}

#receipe_detail_content{
    width:700px;
margin-left: 10px;
}
.container{
    
    width:100%;
    padding:0!important;
   
}
.modern-footer
{
    border-top:0;
}
.footer-banner > figure>figcaption
{
    width: 50%;
margin: 0 auto;
border-bottom: 1px solid #E5E4E4;
padding-bottom: 25px;
}
body {
font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif !important;
color:#444 !important;
}
* {
  font-family:   Arial, Helvetica, Tahoma, Verdana, sans-serif !important;
color: #444!important;
font-size:12px;
margin: 0;
padding: 0;
}
/**
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight:normal !important;
}*/
h1, h2, h3, h4, h5, h6 {
 font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif !important;
 color: #222 !important;
 font-weight: normal;
}
.teaser3 p, .teaser4 p, .promo2 p, .promo3 p,
.teaser5 p, .teaser7 p, .single-product-detail p, 
.single-article-detail p, .single-article-detail ul li, .single-article-detail ol li
{
  font-size:12px;  
    font-family:   Arial, Helvetica, Tahoma, Verdana, sans-serif !important;
    line-height: normal;
}
h3
{
    font-size:18px;
}

.logo_container
{
    position: relative;
    left:20px!important;
}
#teser_carousel,#social_story_container,.page-functions,#breadcrumb,.navbar,.social-icons,#footer_nav,.site-footer,.footer-banner>figure>img
{
    display:none!important;
}


.recipe_social .social-icons,.title_social_container .social-icons
{
    display:block!important;
    float:left!important;
}
.ingredients_directions_tip_container 
{
    float:left!important; 
}
.single-article-detail-inner{
    border-radius:0 !important;
    border-color:white !important;
}
.receipe_All_container{
    margin-top:40px!important;
   left:0;
}


h1.serving-size
{
    font-size: 12px;
    line-height: normal;
}
#receipe_detail_content h1, .receipe_title
{
  font-size: 30px;
line-height: normal;
}

.receipe_All_container .span3{
    width:220px;
}
header
{
    margin-top:50px;
}
.nutrition_information
{
    margin-top:40px;
}
.recipe-detail-info-table td>span{
    text-align: right !important;
}
.recipe_title_desc_container>p
{
    color: #e0bb62;
}
.single-article-detail_aboutus
{
    width:100%;
}
figcaption{
    border:0 !important;
}
body.page-template-about-us-php #breadcrumb,body#store-locator #breadcrumb,
body.page-template-about-us-php #footer_nav,
body.page-template-about-us-php .site-footer
{
    display:block!important;
}
/*#footer_nav .site-footer
{
    display: none!important;
}*/
.title_social_container>h1
{
    float:left!important;
}
body.page-template-about-us-php #breadcrumb
{
    margin-top:40px;
}


.modern-header{
   border-bottom-color: white; 
}
.recipe-detail-info-table,.receipe_nutrition_info
{
    width: 220px;
}
.recipe-detail-info-table tr th{
text-align: left;
padding: 0.5em;
border-bottom: 1px solid #eee;
}
.recipe-detail-info-table tr td{
text-align: right;
padding: 0.5em;
border-bottom: 1px solid #eee;
}

.receipe_nutrition_info tr{
    border-bottom: 1px solid #333;
}
.receipe_nutrition_info td{
text-align: left;
font-weight: bold;
padding: 4px 0;
margin: 0;
border-bottom: 1px solid #333;
}

.receipe_nutrition_info td.ingredients_rd
{
    font-weight:normal;
}
.receipe_nutrition_info td.ingredients_rd,.receipe_nutrition_info td.measure_rd
{
    border:none;
}
.recipe-ingredients-list
{
  list-style-type: none;  
}
.directions{
  list-style-type: none;  
  margin-left: 0;
}

.recipe_social .social-icons
{
    margin-top: 45px;
}
.store-locator .google-maps {width:99%}
#store-locator #footer_nav,#store-locator .site-footer {display:block!important}