img
{
max-width: 100%;
}
body
{
    color:#fff;
}
a
{
    outline:0 none;
}
#main
{
    text-align: center;
}
.container-fluid
{
 padding-left:   
}
.big-yellow-btn
{
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #c4aa74;
    font-size: 18px;
    margin-top: 6%;
    display: inline-block;
    border-radius: 3px;
}
.small-yellow-button
{
    padding: 10px;
    background: #c4aa74;
    font-size: 14px;
    color: #000;
    border-radius: 3px;
    display: inline-block;
} 
a:hover,a:focus,a:active
{
    text-decoration: none;
    color:white;
}

.row
{
    margin:0;
}
h2
{
text-transform: uppercase;
font-size: 2.8vw;
}
h3
{
  font-size: 1vw;  
}
/*header*/
header
{
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.navbar-default
{
  background: transparent;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase
}
/*header*/
/*carousel starts*/

.slides>li
{
    position: relative;
}

.slides>li>.caption
{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width:55%;
    text-align: left;
}
.flexslider
{
    border:0;
    border-radius: 0;
    margin:0;
}
.flex-direction-nav a
{
    opacity:1;
    text-indent: -9999px;
}
.flex-direction-nav .flex-prev
{
       left: 10%;
    background: url('img/left_arrow.png') no-repeat;
    width:20px;
    height:33px;
}
.flex-direction-nav .flex-next
{
     right:10%;
     background: url('img/right_arrow.png') no-repeat;
     width:20px;
     height:33px;
}

#aboutCarousel h1,#aboutCarousel h2
{
    text-align: left;
    font-size: 3.4vw;
    text-transform: uppercase;
        line-height: 3.4vw;
}

#aboutCarousel p
{
    font-size: 1.8vw;
    line-height: 1.9vw; 
 
}
/*carousel ends*/

/*aboutspotlight*/
#aboutSpotlight h2
{
text-transform: uppercase;
font-size: 2.8vw;
}
#aboutSpotlight h3
{
    line-height: normal;
    margin-top: 0;
    font-size: 1.5vw;
}
#aboutSpotlight p
{
font-size: 17px;
}
#aboutSpotlight .big-yellow-btn
{
    margin-bottom: 3%;
    margin-top: 3%;
}
/*aboutspotlight ends*/


/*tour dates*/
#tourDates
{
    background-color: #4e2e61;
    color: white;
}
.tour-dates
{
    width:75%!important;
    font-size: 1vw;
}   
.tour-dates h3
{
   font-size: 1vw;  
     width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.tour-dates .col-sm-2
{
  text-transform: uppercase;
}

.tour-dates .big-yellow-btn
{
    color:#000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.tour-dates  .row
{
    margin-bottom: 25px;
}
   
.tour-dates-data
{
font-size: 2vw;
}

.tour-venues
{
   width:10%; 
}
.tour-time
{
width:10%;
}
.tour-persons
{
    width:30%;
}
/*tourdates ends*/

/*what's happening now*/
#whatsHppnNow h2,#whatsHppnNow h3
{
    color:#4e2e61;
}
#whatsHppnNow h3
{
    margin-top: 0;
    margin-bottom: 40px;
}
#whatsHppnNow h4
{
    font-size: 1.6vw;
    color: #646464;
}
#whatsHppnNow p
{
    font-size: 1vw;
    color: #777777;
}
#whatsHppnNow  .small-yellow-button
{
    color:#fff;
}

.btn-cta-container .big-yellow-btn
{
    margin-top: 4%;
    margin-bottom: 4%;
}
/*whnow ends*/



/*team carousel*/


#theTeamCarousel
{
    position: relative;
}
#theTeamCarousel h2
{
    color:#4e2e61
}
#theTeamCarousel .flexslider
{
    width:83%;
    margin: 0 auto;
    position: static;
}
#theTeamCarousel .flexslider .slides img
{
    width:auto;
    max-width: 100%;
}
.personality-image
{
    width:35%;
    display:inline-block;
    margin-right: 6.5%;
    float:left;
}
.personality-caption-text
{
  width: 45%;
  text-align: left;
  display: inline-block;
float:right;
}

.personality-caption-text h3
{
    color: #4e2e61;
    font-size: 1.4vw;
}
.personality-caption-text p
{
    color: #4e2e61;
    font-size: 1vw;
}
#theTeamCarousel .flex-direction-nav .flex-prev
{
    background: url('img/tear_left_arrow.png') no-repeat;
    left:0;
}
#theTeamCarousel .flex-direction-nav .flex-next
{
    background: url('img/team_right_arrow.png') no-repeat;
    right:0;
}

/*team carousel ends*/
#aboutSpotlight
{
    background-color: #4e2e61;
    color:white;
}


/*modal design*/

.modal-content
{
    border: 0;
  border-radius: 0;
}
.modal-header
{
     border: 0; 
}