/*
	jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
	Copyright (c) 2009 Niall Doherty
	This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

/* Insignificant stuff, for demo purposes */

.panel h2.title {
	margin-bottom: 10px
}
.teasers .span4:first-child{
	margin-left: 0px;
}
/* Most common stuff you'll need to change */
.homeBoxArticle .coda-slider-wrapper {
	padding: 0;
	position: relative;
	top: 22px;
	left: 0px;
	width: 100%;
}
.homeBoxArticle a.btn,.homeBoxArticle a.btn:hover {
background: none;
font-size: 12px;
text-decoration: underline;
border: none;
padding-left:0px;
}

.homeBoxArticle h3 {
color: #3e3e3e;
font-size: 13px;
margin-bottom: 6px;
line-height: 19px;}
.homeBoxArticle p {font-size: 13px;}
.homeBoxArticle a.btn {
color:#ED1C24;
}
.homeBoxArticle a.btn:hover {
background: none;
color: #a40309;
}
.coda-slider {
	background: #fff;
	position: relative;
	left: 25px;
}

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */

.coda-slider-no-js .coda-slider {
	height: 80px;
	overflow: auto !important;
	padding-right: 10px;
}

/* Change the width of the entire slider (without dynamic arrows) */

.coda-slider, .coda-slider .panel {
	width: 300px
}

/* Change margin and width of the slider (with dynamic arrows) */

.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
	width: 300px
}

.coda-slider-wrapper.arrows .coda-slider {
	margin: 0px
}

/* Arrow styling */

.coda-nav-left a, .coda-nav-right a {
	padding: 0px;
	width: 18px;
	position: absolute;
	top: 55px;
}

/* Tab nav */

.coda-nav ul li a.current {
	/*background: #39c*/
}

/* Panel padding */

.coda-slider .panel-wrapper {
	padding: 0px;
	margin: 0;
	height: 180px;
}


/* Preloader */

.coda-slider p.loading {
	padding: 20px;
	text-align: center
}

/* Don't change anything below here unless you know what you're doing */

/* Tabbed nav */

.coda-nav ul {
	clear: both;
	display: block;
	margin: auto;
	overflow: hidden;
	width: 42px!important;
}

.coda-nav ul li {
	display: inline
}

.coda-nav ul li a {
	color: #ccc;
	display: block;
	float: left;
	margin-right: 1px;
	padding: 1px;
	text-decoration: none;
	font: 23px Georgia, "Times New Roman", Times, serif;}

.coda-nav ul li a:hover,
.coda-nav ul li a.current
{color: #666;}

/* Miscellaneous */

.coda-slider-wrapper {
	clear: both;
}

.coda-slider {
	float: left;
	overflow: hidden;
	position: relative
}

.coda-slider .panel {
	display: block;
	float: left
}

.coda-slider .panel-container {
	position: relative
}

.coda-nav-left, .coda-nav-right {
	float: left
}

.coda-nav-left a, .coda-nav-right a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 19px;
	height: 19px;
}
.homeArticle {
	margin-right: 11%;
}
.coda-nav-left a{background: url(../../raguca/img/mib_box_buttonL.gif) no-repeat;
}

.coda-nav-right a{background: url(../../raguca/img/mib_box_buttonR.gif) no-repeat;
}
.coda-nav-left a:hover{background: url(../../raguca/img/mib_box_buttonL_hover.gif) no-repeat;
}

.coda-nav-right a:hover{background: url(../../raguca/img/mib_box_buttonR_hover.gif) no-repeat;
}
.homeBoxArticle h1 {text-indent:inherit; color:#3e3e3e; font-size: 26px;font-family: NewCenturySchoolbookRegular; font-weight: normal; border-bottom: 1px solid #c1c1c1; line-height:37px!important}
.homeBoxArticle h1 span {
color: #ed1c24;
font-style: italic;
font-family:Georgia, "Times New Roman", Times, serif
}
.homeArticle .pull-left{
	width: 35%;
}
@media (min-width: 768px) and (max-width: 1199px) {
.homeArticle .pull-right{
	float: left;
}
.homeArticle .pull-left, .homeArticle .pull-right{
	width: 100%;
}
.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {
	width: 290px;
}

}